<div class="subject-area">

  <table>
    <tr>
      <th class="text-center">
        Assuntos mais falados e ainda não checkados:
      </th>
    </tr>
    <!-- < % subjects.each do |subject| %>
      <tr>
        <td> < %= subject.title %> </td>
      </tr>
    < % end %> -->
    <tr>
      <td>
        Estátua da Pablo Vittar vai substituir o Cristo Redentor
      </td>
    </tr>
    <tr>
      <td>
        O Próximo inverno do Rio vai ser o mais rigoroso dos últimos 100 anos
      </td>
    </tr>
  </table>

</div>
